body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
main h1 {
    display: none;
}
.container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 20px;
    grid-template-areas: 
    "box1 box1 box2 box5"
    "box1 box1 box2 box5"
    "box1 box1 box2 box5"
    "box3 box4 box4 box5"
    "box3 box4 box4 box5"
    ;
}
@media (max-width: 767px) {
    .container {
        margin: 15px;
        grid-template-columns: 1fr;
        gap: 20px;
    grid-template-areas: 
    "box1 "
    "box2"
    "box3"
    "box4"
    "box5"
    ;
    }
}
.box {
    padding:28px 35px;
    border-radius: 10px;
}
.box figure {
    display: flex;
    margin: 0;
}
.box figure img{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
.box1 figure img {
    border-color: hsl(263, 39%, 66%);
}
.box4 figure img {
    border-color: hsl(263, 55%, 52%);
}
.box  span{
    display: block;
}
.box1 .name,
.box2 .name,
.box4 .name{
    color: hsl(0, 0%, 81%);
}
.box3, .box5 .name{
    color: hsl(217, 19%, 35%)
}
.box1 .verified,
.box2 .verified,
.box4 .verified {
    color: hsl(0, 0%, 81%);
    opacity: 50%;
}
.box3 .verified,
.box5 .verified{
    color: hsl(217, 19%, 35%);
    opacity: 50%;
}
.box1, .box2, .box4 h2 {
    color: white;
}
.box3, .box5 h2 {
    color: hsl(217, 19%, 35%);
}
.box blockquote {
    margin: 13px 0;
}
.box1 blockquote,
.box2 blockquote,
.box4 blockquote {
    color: hsl(0, 0%, 81%);
    opacity: 70%;
}
.box3 blockquote,
.box5 blockquote {
    color: hsl(217, 19%, 35%);
    opacity: 70%;
}
.box1 {
    grid-area: box1;
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 82%;
}
.box2 {
    grid-area: box2;
    background-color: hsl(217, 19%, 35%);
}
.box3 {
    grid-area: box3;
    background-color: hsl(0, 0%, 100%);
}
.box4 {
    grid-area: box4;
    background-color: hsl(219, 29%, 14%);
}
.box5 {
    grid-area: box5;
    background-color: hsl(0, 0%, 100%);
}
@media (max-width: 767px) {
    footer {
        padding: 10px;
    }
}